option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: JQUERY_VERSION
    option_value: 1.8.3
  - option_name: JQV
    option_value: 3.2.1

container_commands:
  01makedir:
    cwd: /var/www/html
    command: "mkdir webtmp"
  02makefile:
    cwd: /var/www/html/webtmp
    command: "touch testfile"
  03permissions:
    cwd: /var/www/html/webtmp
    command: "chmod 777 testfile"
